.pagination {
  display: flex;
  justify-content: center;

  .pagination__list {
    display: flex;
    padding: 1rem;
    border-radius: 4rem;
    border: 2px solid #3f51b5;

    .pagination__item {
      height: 45px;
      width: 45px;
      line-height: 45px;
      margin: 0 0.5rem;
      text-align: center;
      font-size: 2rem;
      font-weight: 500;
      border-radius: 50%;

      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background: #3f51b5;
        color: #fff;
      }
    }
  }
}

.dots {
  font-size: 2.4rem;
  cursor: default;
}

.active-page {
  background-color: #3f51b5;
  color: #fff;
}