.card {
  width: 40rem;
  overflow: hidden;
  margin-bottom: 3rem;
  border-radius: 2.5rem;
  background: rgb(172, 134, 113);
}

.hard-word__card {
  background: #fff355;

  .card-header__overlay {
    background: linear-gradient(transparent, #fff355);
  }
}

.deleted-word__card {
  background: #5dd85f;

  .card-header__overlay {
    background: linear-gradient(transparent, #5dd85f);
  }
}